.product-details-name {
  .brand {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.6rem;
  }

  .name {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.mini-product-details-name {
  .brand {
    margin-bottom: 5px;
  }
}
